h2{
  font: 500 30px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #654;
  padding: 20px;
  margin: 0 auto 0 auto;
  text-align: center;
}
form {
  width: 535px;
}
label, input{
  display: block;
}
label{
  margin-bottom: 7px;
  font: 400 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #654;
}
input{
  border: 2px solid #765;
  border-radius: 5px;
  width: 500px;
  margin-bottom: 25px;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 7px 0 7px 7px;
}

input[type=datetime], label[for=horario]{
  display: inline;
  width: auto;
  margin-right: 5px;
  margin-left: 8px;
}

.horario input{
  width: 200px;
}

input[type=checkbox], label[for=repeat]{
  display: inline;
  width: auto;
  margin-top: 20px;
  margin-bottom: 4px;
}

.repetir {
  text-align: center;
}


/*Rating stars*/
div.stars {
  width: 270px;
  display: inline-block;
  position: relative;
  width: 75%;
}
input.star { display: none; } /*Evita que aparezcan los circulos del input radio*/
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .2s;
}
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before { color: #F62; }
label.star:hover { transform: rotate(-15deg) scale(1.3); }  /*Rotar la estrella en hover */
label.star:before {
  content: '\f006';
  font-family: FontAwesome; /*Funte de iconos*/
}

.vis-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.vis-hidden + label{
	float: left;
	width: 63px;
	padding: 5px 5px;
	text-align: center;
	background-color: #654;
	font-family: 'Oswald', sans-serif;
	color: #fff;
}

.vis-hidden:checked + label {
	display: inline-block;
	background-color: #765;
}

.week{
  text-align: center;
  margin: auto;
}

.btn {
  border: 10px;
  margin: 0 auto;
  margin-top: 75px;
  background: linear-gradient(#765, #654);
  width: 150px;
  font-size: 14px;
}
.btn:hover {
  background: #765;
}
