.dropdown {
    position:absolute;
    top:20; right:20;
    display: inline-block;
    z-index: 2;
}

.dropdown .dropdown-menu {
    display: none;
    margin: 0;
    list-style: none; /** Remove list bullets */
    padding: 0;
}

.dropdown-menu{
  position: absolute;
  top: 100%;

  left: -3.5em;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #654;
    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;

}

.dropdown button:after{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f067"; /* add facebook icon */
    text-align: center;
    vertical-align:middle;
    font-size: 30px;
}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.5em 0.8em;
    text-decoration: none;
    background: #765;
    color: #333333;

}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #BBBBBB;
}
