/* Revealing 3D Menu CSS */
body{
	font-family: sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: #333;
	background-color: #221;
}

/* typography */
footer{
	margin-top: 2em;
	border-top: 1px dotted #999;
}

h1{
	font-size: 2em;
	font-weight: bold;
	margin: 0 0 0.2em 0;
	border-bottom: 1px solid #555;
}

p{
	line-height: 1.3em;
	margin: 0 0 1.5m 0;
}
